<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/MyStyles/my_style.css")
    @Scripts.Render("~/bundles/modernizr")

    <script scr="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

</head>
<body>
    <div class="main-header navbar navbar-inverse navbar-fixed-top">
        <div class="header-text text">Price Lists</div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="main-footer">
            <div class="footer-text text">Тестовое задание</div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/MyScripts/modal_window.js")
    @Scripts.Render("~/Scripts/MyScripts/table_sort_pages.js")
    @Scripts.Render("~/Scripts/MyScripts/other.js")
    @Scripts.Render("~/Scripts/MyScripts/input_data_processing.js")
    @RenderSection("scripts", required: false)
</body>
</html>
