@model Price_List.Models.Product

@{
    ViewBag.Title = "AddProduct";
}

<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" id="addListLable">Добавление праст листа</h4>
        <button type="button" class="close" data-dismiss="modal">
            <span>X</span>
        </button>
    </div>
    <div class="modal-body">
        <form action="/PriceListPage/AddProduct" method="post">
            <div class="form-group">
                <label for="Name">Имя</label>
                <input type="text" name="Name" class="form-control" />
            </div>
            <div class="form-group-body">
                <div class="form-group form-group-add">
                    <div class="form-col row">
                        @if (Model != null)
                        {
                            int count = 0;
                            for (int i = 0; i < ViewBag.JsonObject.name.Count; i++)
                            {
                                <div class="name-col col-md-12">
                                    <label for="ColAdd">@ViewBag.JsonObject.name[i] (@ViewBag.JsonObject.type[i])</label>
                                    @if (@ViewBag.JsonObject.type[i] == "Число")
                                    {
                                        <input type="text" name="ColAdd" class="form-control input-data input-number" />
                                    }
                                    @if (@ViewBag.JsonObject.type[i] == "Однострочный текст")
                                    {
                                        <input type="text" name="ColAdd" class="form-control input-data" />
                                    }
                                    @if (@ViewBag.JsonObject.type[i] == "Многострочный текст")
                                    {
                                        <textarea name="ColAdd" class="form-control input-data"></textarea>
                                    }
                                </div>
                                count++;
                            }
                        }
                    </div>
                </div>
            </div>
                <div class="hide">
                    <input type="number" name="PriceId" value="@ViewBag.PriceId" />
                </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
        <button type="button" id="btn_save_add" class="btn btn-primary" data-save="modal">Сохранить</button>
    </div>
</div>
